html,
body,
#map-ct {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-de {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-ma {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-md {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-me {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-nh {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-nj {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-ny {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-pa {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-ri {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-vt {
  height: 100%;
  padding: 0;
  margin: 0;
}